# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments / Dependencies
.venv-spark/
.bigdata/
bigdata/
ENV/
__pypackages__/

# IDEs / Editors
.vscode/
.idea/

# Coverage / Logs / Data
.pytest_cache/
.coverage
htmlcov/
*.log

# Project specific
db.sqlite3
.env

# Spark / Hadoop
metastore_db/
spark-warehouse/
derby.log

# Training outputs
cluster_training/
local_training/

# Spark cache
*.crc

# Jupyter
.ipynb_checkpoints/

# Local model outputs
models/
output/